@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap');
*{
    font-size: 30px;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box
}

body {
    background: #AFC198;
    color: #34532d;
    margin: 0;
    padding: 0;
    font-weight: 500;
}


h1 {
    text-align: left;
    font-size: 40px;
}
h2 {
    text-align: center;
    font-size: 40px;
}
.line {
    width: 100vw;
    height: 0px;
    mix-blend-mode: normal;
    border: 2px solid #5C7240;
}

.nav-container {
	width: 80%;
	margin: 0 auto;
}


header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 40px;
}

nav a:hover {
  color: #3f4e2a;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #3f4e2a;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

a {
    color: #3f4e2a;
}
a:-webkit-any-link {
    text-decoration: none;
}
.col-1 { width: 4.8076923077% }
.col-2 { width: 13.4615384615% }
.col-3 { width: 22.1153846154% }
.col-4 { width: 30.7692307692% }
.col-5 { width: 39.4230769231% }
.col-6 { width: 48.0769230769% }
.col-7 { width: 56.7307692308% }
.col-8 { width: 65.3846153846% }
.col-9 { width: 74.0384615385% }
.col-10 { width: 82.6923076923% }
.col-11 { width: 91.3461538462% }
.col-12 { width: 100%; margin: 0 }

header {
    text-align: center;
}
.portfolio-container {
 display: flex;
}

.right-side {
    background: #87A264;
    border: 1px solid #869374;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 15px;


}
.about-me-container {
    background: #87A264;
    border: 1px solid #869374;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 15px;
}
.about-me-container p {
    text-align: center;
}
.right-side-box{
    border: 1px solid #97B473;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    flex: 0 0 90%;
    text-align: center;
    max-width: 80%;
    border-style:groove;
    margin: auto;
}
.my-p {
    max-width: 50%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}
.mypicture {
    max-width: 100%;
    height: auto;
    border-radius: 30%;
}
.left-side {
    background: #87A264;
    border: 1px solid #869374;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 15px;
}

.left-side-box {
    border: 1px solid #97B473;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    border-style:groove;
    margin: auto;
    width: 70%;
}

.card-box {
    background: #8BA767;
}

img {
    max-width: 100%;
    height: auto;
}
button {
    color: cornsilk;
    background: #C4C4C4;
    mix-blend-mode: color-burn;
    border-radius: 5px;
    margin-bottom: 5px;
    text-decoration: none !important;

}

button:hover {
    background: #f7efef;
}

.display-none {
    display:none;
}

.profile:hover {
    mix-blend-mode: screen;
}

.profile:active {
    border: 2px inset #97B473;
    box-shadow: inset 0px 4px 4px #36642880;
    mix-blend-mode: screen;
}

.contact-box {
    display: flex;
    background: #87A264;
    border: 1px solid #869374;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 15px;
    height: 500px;
    width: 90vw;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

@media (max-width:993px) {
    .portfolio-container {
        display: inline;
    }
    .display-none {
        display: none !important;
    }

    .right-side, .left-side {
        width: 90%;
        margin: auto;
        margin-bottom: 12px;
    }

}